<template>
    <q-page>
        <q-card-section>
            <q-form @submit="search">
                <q-input
                    @clear="clearSearch"
                    clearable
                    autofocus
                    filled
                    v-model="text"
                    placeholder="Search...">
                </q-input>
            </q-form>
        </q-card-section>
        <q-card-section class="q-py-none" v-if="selectedCategories.length">
            <q-chip
                @remove="removeCategory(cat)"
                v-for="cat in selectedCategories"
                :key="cat"
                square
                outline
                removable
                color="teal"
                :label="cat">
            </q-chip>
        </q-card-section>
        <q-card-section class="cards-container q-gutter-md">
            <q-card class="card" v-for="feed in filteredFeeds" :key="feed.id">
                <q-card-section>
                    <div class="text-h6" :title="feed.title">
                        {{ textTrim(feed.title, 30) }}
                    </div>
                    <div class="row no-wrap items-center" :title="feed.description">
                        <span class="text-subtitle text-grey">
                            {{ textTrim(feed.description) }}
                        </span>
                    </div>
                    <div>{{ feed.author }}</div>
                </q-card-section>
                <img :src="feed.image" />
                <q-card-actions class="q-pa-xs">
                    <q-space></q-space>
                    <q-btn
                        @click="toggleFavourite(feed)"
                        title="Favourite"
                        flat
                        round
                        color="red"
                        :icon="getFavIcon(feed)">
                    </q-btn>
                    <q-btn
                        @click="showFeed(feed)"
                        title="View details"
                        flat
                        round
                        color="primary"
                        icon="visibility">
                    </q-btn>
                    <q-btn
                        @click="openLink(feed)"
                        title="Visit website"
                        flat
                        round
                        color="teal"
                        icon="link"></q-btn>
                </q-card-actions>
                <q-separator></q-separator>
                <q-card-section v-if="feed.categories" class="text-center q-pa-xs">
                    <q-chip
                        @click="addCategory(cat)"
                        square
                        outline
                        clickable
                        color="teal"
                        v-for="cat in feed.categories"
                        :key="cat">
                        {{ cat }}
                    </q-chip>
                </q-card-section>
            </q-card>
        </q-card-section>
        <q-inner-loading color="blue-2" :showing="loading"></q-inner-loading>
    </q-page>
</template>

<script setup>
import { useQuasar } from 'quasar'
import { ref, onMounted } from 'vue'
import { api } from 'src/boot/axios'
import useFavourites from 'src/js/useFavourites'
import PodcastDetailsDialog from 'components/PodcastDetailsDialog.vue'

const { toggleFavourite, loadFavourites, getFavIcon, openLink } = useFavourites()

const $q = useQuasar()

const loading = ref(false)
const text = ref('')
const feeds = ref([])
const filteredFeeds = ref([])
const selectedCategories = ref([])

const textTrim = (text, len = 40) => {
    return text && text.length > len ? `${text.substr(0, len)}...` : text
}

const clearSearch = () => {
    feeds.value = []
    filteredFeeds.value = []
    selectedCategories.value = []
    loadTrending()
}

const removeCategory = cat => {
    selectedCategories.value = selectedCategories.value.filter(c => c !== cat)
    filterFeedsBySelectedCategories()
}

const addCategory = cat => {
    if (!selectedCategories.value.find(c => c === cat)) {
        selectedCategories.value.push(cat)
        filterFeedsBySelectedCategories()
    }
}

const filterFeedsBySelectedCategories = () => {
    filteredFeeds.value = feeds.value.filter(feed => {
        if (!selectedCategories.value.length) return true
        return (
            feed.categories &&
            Object.values(feed.categories).some(c => selectedCategories.value.includes(c))
        )
    })
}

const search = async () => {
    try {
        loading.value = true
        selectedCategories.value = []
        let response = await api.get(`/search/byterm?q=${text.value}`)
        feeds.value = Object.freeze(response.data.feeds)
        filterFeedsBySelectedCategories()
    } catch (error) {
        console.log(error)
    } finally {
        loading.value = false
    }
}

const loadTrending = async () => {
    try {
        loading.value = true
        selectedCategories.value = []
        let response = await api.get(`/podcasts/trending?max=10`)
        feeds.value = Object.freeze(response.data.feeds)
        filterFeedsBySelectedCategories()
    } catch (error) {
        console.log(error)
    } finally {
        loading.value = false
    }
}

const showFeed = feed => {
    $q.dialog({
        component: PodcastDetailsDialog,
        componentProps: { feed },
    })
}

onMounted(() => {
    loadFavourites()
    loadTrending()
})
</script>
<style scoped>
.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    flex: 1;
    min-width: 350px;
    max-width: 500px;
}
</style>
