<template>
    <q-dialog ref="dialogRef" @hide="onDialogHide">
        <q-card style="width: 500px; max-width: 95vw; max-height: 95vh">
            <q-card-section>
                <div class="text-h6" :title="props.feed.title">
                    {{ props.feed.title }}
                </div>
                <div class="row no-wrap items-center" :title="props.feed.description">
                    <span class="text-subtitle text-grey">
                        {{ props.feed.description }}
                    </span>
                </div>
                <div>{{ props.feed.author }}</div>
            </q-card-section>
            <img :src="props.feed.image" />
            <q-card-actions class="q-pa-xs">
                <q-space></q-space>
                <q-btn
                    @click="toggleFavourite(feed)"
                    title="Favourite"
                    flat
                    round
                    color="red"
                    :icon="getFavIcon(feed)">
                </q-btn>
                <q-btn
                    @click="openLink(feed)"
                    title="Visit website"
                    flat
                    round
                    color="teal"
                    icon="link"></q-btn>
            </q-card-actions>
        </q-card>
    </q-dialog>
</template>

<script setup>
import { useDialogPluginComponent } from 'quasar'
import useFavourites from 'src/js/useFavourites'

defineEmits(useDialogPluginComponent.emits)
const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent()

/***** above required for dialog *****/
const props = defineProps(['feed'])
const { toggleFavourite, getFavIcon, openLink } = useFavourites()
</script>
