<template>
    <q-layout view="hHh lpR fFf">
        <q-header elevated class="bg-primary text-white">
            <q-toolbar>
                <q-btn dense flat icon="menu" @click="toggleLeftDrawer"></q-btn>

                <q-toolbar-title> All Ears! </q-toolbar-title>
                <q-space></q-space>
            </q-toolbar>
        </q-header>

        <q-drawer show-if-above v-model="leftDrawerOpen" side="left" bordered>
            <q-scroll-area style="height: calc(100vh - 50px)">
                <q-list padding>
                    <q-item-label header>Favourites</q-item-label>
                    <q-item v-if="!favourites.length">
                        <q-item-section>
                            <q-item-label caption>
                                You do not have any favourites saved
                            </q-item-label>
                        </q-item-section>
                    </q-item>
                    <div v-for="fav in favourites" :key="fav.id">
                        <q-item clickable class="q-px-sm" @click.stop="openLink(fav)">
                            <q-item-section>
                                <q-item-label class="text-weight-bold">
                                    {{ fav.title }}
                                </q-item-label>
                                <q-item-label caption class="text-weight-bold">
                                    {{ fav.author }}
                                </q-item-label>
                                <q-item-label caption>
                                    {{ fav.description }}
                                </q-item-label>
                                <div class="text-right q-pt-xs">
                                    <q-btn
                                        @click.stop="toggleFavourite(fav)"
                                        title="Remove"
                                        flat
                                        round
                                        size="sm"
                                        color="red"
                                        icon="delete">
                                    </q-btn>
                                </div>
                            </q-item-section>
                        </q-item>
                        <q-separator></q-separator>
                    </div>
                </q-list>
            </q-scroll-area>
        </q-drawer>

        <q-page-container>
            <router-view></router-view>
        </q-page-container>
    </q-layout>
</template>

<script setup>
import { ref } from 'vue'
import useFavourites from 'src/js/useFavourites'

const { favourites, getFavIcon, toggleFavourite, openLink } = useFavourites()

const leftDrawerOpen = ref(false)
const toggleLeftDrawer = () => {
    leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>
